#------------------------------------c++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled headers
*.gch

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Sqlite databases
*.db

#-------------------------------------Autotools
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

